__pycache__
geeks.db
HW_3.py
HW2_1.py
HW2_3.py
HW2_4.py
HW2_5.py
lesson_1.py
lesson_2.py
lesson_3.py
lesson_4.py
lesson_5.py
lesson_7.py
main.py
mentor_practice.py
orders.db
practice_1.py
practice_2.py
praktika_5.py
run.py
selfpractice.py
users.db